source "Kconfig.zephyr"

menu "embedded_systems_project"

config HELLO_TIMER_INTERV
    int "Intervalo do Timer EM MILISSEGUNDOS"
    default 1000
    help 
        intervalo em milissegundos
endmenu
