source "Kconfig.zephyr"


menu "Environmental Monitoring System Configuration"

config CLIMATE_MONITOR
    bool "Enable environmental monitoring system"
    default y
    
    help
    Enables the system that collects temperature and humidity data,
    validates the values, and displays the results in the log. Warns if the values
    are outside an acceptable range.


endmenu 
